* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

*:before, *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

body {
	margin: 0 ;
}

.nav-link {
	display: unset;
}

.black-theme {
	background-color: black;
	height: 35px;
}

#shopping-basket-notification {
	background-color: red;
	margin-left: -13px;
}

.mx-auto {
	margin-top: 5px;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Dancing Script', cursive;
}

.navbar-brand {
	font-size: 45px;
}

.user-icon {
	font-size: 20px;
	color: white;
	cursor: pointer;
	margin: 20px;
}

#navbar {
	background-color: black;
}

#nav li {
	display: inline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	height: 30px;
	padding: 10px;
}

li a {
	color: white;
	text-decoration: none;
	padding: 20px 40px;
}

li a:hover {
	color: #ff3385;
}

.header-img {
	background-image: url("assets/images/header.jpg");
	height: 500px;
	background-size: 100% 100%;
	/*background-size: cover;*/
	border: 5px solid black;
	background-repeat: no-repeat;
}